{{#each allPosts as |posts|}}
  <div class="card">
    <div
      class="card-header custom-maincolor flex-row justify-space-between align-end"
    >
      <h2 class>{{title}}</h2>
      <h4>{{user.name}} on {{format_date date_created}}</h4>
    </div>
    <div class="p-2">
      <p>{{content}}</p>
      <a href="/post/{{id}}"><button
        class="btn custom-btn"
        id="post-link"
        data-id="{{id}}"
      >See this Post!</button></a>
    </div>
  </div>
{{/each}}